.header{
    height: 34vw;
    margin: 30px auto;
    background-color: #F09E86;
    background-size: contain;
    position: relative;
    display: flex;
}
#headerImg{
    width: 48%;
    height: 100%;
    position: absolute;
    left: 58%;
    
}

.header-contents{
  
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #0B0F28;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: #404146;
    font-size: 1vw;
}

.header-contents button{
    border: nonw;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;

    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}


@media (max-width: 1050px) {


    .header-contents{
        max-width: 65%;
    }
}

@media (max-width: 750px) {
    .header{
        height: 38vw;
    }

    .header-contents p{
        max-width: 45%;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }


}
